.maxwidth {
    max-width: 80%;
}

.fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* from burger tutorial */
/* html,
body {
    margin: 0;
    padding: 0;
}
*,
*::after,
*::before {
    box-sizing: border-box;
}
body {
    display: flex;
    height: 100vh;
    text-rendering: optimizeLegibility;
} */
/* 
.hideburger {
    display: none;
}

.hidebar {
    display: none;
} */

@media only screen and (max-width: 900px) {
    .hideburger {
        display: flex;
    }

    .hidebar {
        display: none;
    }
}

@media only screen and (min-width: 901px) {
    .hideburger {
        display: none;
    }
    .hidebar {
        display: flex;
    }
}
